body {
  --bs-body-bg: #211142;
  --bs-body-color: white;
  --bs-primary: #006992;
}

h1,
h2 {
  color: #0496FF;
}

h3,
h4,
h5,
h6 {
  color: white;
}

.card {
  background-color: #110824;
}

input.form-control,
input.form-control:active,
input.form-control:focus {
  background-color: #110824;
  color: white;
}